/* .app-bar {
  border-bottom: 4px solid #1976d2;
  background-color: #f1f1f1;
  height: 60px;
  color: inherit;
}

@media only screen and (max-width: 200px) {
  .app-bar {
    height: 80px;
  }
} */
